#root {
  width: 100%;
}
html {
  background: url(https://ewscripps.brightspotcdn.com/24/0b/b93afd8a44249fe0a873593de367/jeopardy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: white;
  
}
/* Add borders for testing */
/* #title, #main, .score {
  border: 1px solid black;
  width: 100%
} */


.gameboard {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-column-gap: 7px;
  grid-row-gap: 15px;
  background-color: black;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.category-heading {
  height: 50px;
}

.clue, .clue-category {
  color: rgb(208, 162, 89);
  background-color: rgb(0, 16, 110);
  text-shadow:  .02em .02em rgb(0, 0, 0),
                .04em .04em rgb(0, 0, 0),
                .06em .06em rgb(0, 0, 0),
                .08em .08em rgb(0, 0, 0),
                .10em .10em rgb(0, 0, 0),
                .10em .10em rgb(0, 0, 0),                
                .12em .12em rgb(0, 0, 0),
                .14em .14em rgb(0, 0, 0),
                .16em .16em rgb(0, 0, 0);

  font-size: 35px;
  font-family: 'Anton', sans-serif;
  height: 3em;
  text-align: center;
  margin-top: 5px;
}

.clue-category {
  font-size: 17px;
  color: white;
  padding: 20px 20px;
}

.clue-contents {
  padding-top: .7em;
  
}

.clue-display {
  padding-top: 2em;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 10px;
}

/* --------------------------- */


.modal {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.modal-main, .front, .back {
  color: white;
  text-shadow:  .02em .02em rgb(0, 0, 0),
                .04em .04em rgb(0, 0, 0),
                .06em .06em rgb(0, 0, 0),
                .08em .08em rgb(0, 0, 0),
                .10em .10em rgb(0, 0, 0),
                .10em .10em rgb(0, 0, 0),                
                .12em .12em rgb(0, 0, 0),
                .14em .14em rgb(0, 0, 0),
                .16em .16em rgb(0, 0, 0);
  font-size: 19px;
  font-family: 'Libre Baskerville', serif;
  position:fixed;
  background-color: rgb(0, 16, 110);
  /* width: 50%;
  height: 50%;
  top:50%;
  left:50%; */
  border-style: solid;
  border-width: 7px;
  border-color: black;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* ++++++++++++++++++++++++ */

.flip-container {
  perspective: 2000px;
}

/* flip the pane when hovered */
.modal:hover .flipper {
  transform: rotateY(180deg);
  /* transition-delay: 1s; */
  
}

.flip-container, .front, .back {
  width: 450px;
  height: 450px;
  background-color: black;
}


.flipper {
  transition: 1.5s;
  transform-style: preserve-3d;
  position: relative;

}

.front, .back {
  backface-visibility: hidden;
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color: navy;
  width:450px;  
}


.front {
  z-index: 2;
  transform: rotateY(0deg);
}


.back {
  transform: rotateY(180deg);
}
