#root {
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%
}
/* Add borders for testing */
/* #title, #main, .score {
  border: 1px solid black;
  width: 100%
} */

.game-board, .side-panel {
  border: 1px solid red
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}